@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:300,400,700&subset=cyrillic');

* {
	box-sizing: border-box;
}


.wraper {
    width: 1280px;
}


.all_cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 10px;
}

