@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:300,400,700&subset=cyrillic');

* {
    box-sizing: border-box;
}
body {
    font-size: 10px;
}

.text_upper {
    text-transform: uppercase;
}
.dark_text {
    color: #5e6a75;
}

.btn {
    height: 100%;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(#3bb1e0, #3a85bd);
    border-radius: 4px;
    border: 1px solid #249fdb;
}
.btn span {
    font-family: "Open Sans", sans-serif;
    font-size: 1.3vw;
    color: #ffffff;
    margin-left: 2vw;
    position:relative;
    z-index: 300;
}


.wrapper {
    width: 98vw;
    margin: 0 auto;
    color: #fefefe;
    font-family: "Open Sans", sans-serif;
}

/*------HEADER------*/
.header {
    padding: 0 5.16vw 0 7vw ;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
}
.header__logo-link { 
    text-decoration: none;
}
.header__logo-link img {
    width: 23.44vw;
}
.header__menu {
    display: flex; /*for  а -- height=100%*/
    justify-content: space-between;
    width: 51.74vw;
}
.header__menu-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #aab1b5;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2vw;
    text-decoration: none;
    border-bottom: solid 4px rgba(252, 214, 51, 0);
}
.header__menu-link:hover {
    color: #858888;
    border-bottom: solid 4px rgba(252, 214, 51, 1);
}

/*----CARDS-----*/
.cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.cards__item {
    width: 50%;
    min-height: 19.7vw;
    font-family: "Open Sans", sans-serif;
    color: #fefefe;
    background-size: cover;
    position: relative;
    background-position: center;
}
.cards__item::before {
    display: block;
    content: " ";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
}
.child_card {
    background-image: url("../images/child_card.jpg");
}
.child_card .cards__item-name, .cards__item.child_card::before {
    background-color: #058cff;
}
.basic_sport {
    background-image: url("../images/ball1.jpg");
}
.basic_sport .cards__item-name, .cards__item.basic_sport::before {
    background-color: #db28b3;
}
.full_immertion {
    background-image: url("../images/full_immertion.jpg");
}
.full_immertion .cards__item-name,  .cards__item.full_immertion::before {
    background-color: #02828f;
}
.aqua_yoga {
    background-image: url("../images/yoga3_cut.png");
}
.aqua_yoga .cards__item-name,  .cards__item.aqua_yoga::before {
    background-color: #ffffff;
}

.cards__item-content {
    position: relative;
    height: 100%;
}
.cards__item-info {    
    padding: 2.28vw 16.5vw 1.88vw 5.23vw;
}
.cards__item-name {
    font-size: 1.3vw;
    font-weight: 700;
    line-height: 1.7;
    letter-spacing: -0.02vw;
    word-spacing: 0.7vw;
    text-align: center;
    padding: 0.1vw  0.8vw;
    border-radius: 0.4vw;
    display: inline-flex;
}
.cards__item-name .lett_spase0 {
    letter-spacing: 0;
}
.cards__item-header {
    font-size: 3.1vw;
    font-weight: 400;
    letter-spacing: -0.21vw;
    line-height: 1.2;
    margin: 1.23vw 0 0vw 0vw;
}
.cards__item-description {
    font-size: 1.3vw;
    font-weight: 300;
    letter-spacing: -0.08vw;
    line-height: 1.4;
    margin: 1vw 0 0;
    padding-right: 6.2vw;
}
.cards__item:nth-child(-n+2) {
    min-height: 39.3vw;
}
.cards__item:nth-child(-n+2) .cards__item-info {
    padding-top: 4.48vw;
}
.cards__item:nth-child(-n+2) .cards__item-content {
    
}
.cards__item:nth-child(-n+2) .cards__item-header {
    font-size: 4.1vw;
    letter-spacing: -0.23vw;
    padding-right: 8.6vw;
    height: 10.8vw;
}
.cards__item:nth-child(-n+2) .cards__item-btn {
    top: 4.48vw;
}
.cards__item:nth-child(-n+2) .cards__item-amount {
    bottom: 2.9vw;
}

/*-------------BUTTON BUY-------------------*/

.cards__item-btn {
    position: absolute;
    top: 2.28vw;
    right: 6.88vw;
    height: 3.7vw;
    width: 9.2vw;
}

.cards__item-btn::after {
    width: 2.62vw;
    height: 2.62vw;
    background: linear-gradient(135deg, #3bb1e0, #3a85bd);
    border-radius: 4px;
    display: block;
    content: " ";
    position: absolute;
    transform: rotate(45deg);
    top: 0.55vw;
    right: -1.31vw;
    z-index: 200;
}
.btn.buy span::before {
    display: inline-block;
    content: url(../images/shopping-cart.svg);
    width: 1.56vw;
    position: absolute;
    left: -1.8vw;
    top: 0;
    z-index: 300;
}

.cards__item-amount {
    width: 8.2vw;
    height: 2.6vw;
    background: #f5c600;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    bottom: 1.8vw;
    right: 5.2vw;
    font-weight: 700;
    font-size: 2vw;
    letter-spacing: 0.1vw;
    color: #545628;
}


@media only screen and (max-width: 680px) {
    .cards__item {
        width: 100%;
    }
    .cards__item:first-child {
        min-height: 39.3vw;
    }
    .cards__item:first-child .cards__item-info {
        padding-top: 4.48vw;
    }
    .cards__item:first-child .cards__item-content {
        
    }
    .cards__item:first-child .cards__item-header {
        font-size: 3.3rem;
        letter-spacing: -0.23rem;
        padding-right: 126px;
        height: 8.5rem;
    }
    .cards__item:first-child .cards__item-btn {
        top: 4.4vw;
    }
}









.size3 {
    width: 28%;
    min-height: 124px;
    display: flex;
    align-items: center;
    justify-content: center;
}



